<!DOCTYPE>
<html>  
<body>  
<table>  
<tr><th>First_Name</th><th>Last_Name</th><th>Marks</th></tr>  
<tr><td>Natraj</td><td>Sunny</td><td>60</td></tr>  
<tr><td>Ameen</td><td>Mughal</td><td>80</td></tr>  
<tr><td>Rohit</td><td>Varma</td><td>82</td></tr>  
<tr><td>Krishna</td><td>Manohar</td><td>72</td></tr>  
</table>  
</body>
</html>
